:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --gray-color: #888;
}

/* start Box*/
.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.d-grid{
    display: grid;
}
.gap-20{
    gap: 20px;
}
.d-block{
    display: block;
}
@media (max-width: 767px) {
    .block-mobile{
        display: block;
    }
    .hide-mobile{
        display: none;
    }
}

/* End Box*/

/* start padding + margin*/
.p-5{
    padding: 5px;
}
.p-10{
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.m-20{
    margin: 20px;
}
.mt-0{
    margin-top: 0;
}
.mt-5{
    margin-top: 5px;
}
.mt{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-10{
    margin-bottom: mar10px;
}
/* End padding + margin*/

/* start color*/

.bg-white{
    background-color: white;
}
.bg-eee{
    background-color: #eee;
}
.bg-blue{
    background-color: var(--blue-color);
}
.bg-orange{
    background-color: var(--orange-color);
}
.bg-green{
    background-color: var(--green-color);
}
.c-black{
    color: black;
}
.c-gray{
    color: var(--gray-color);
}
.c-white{
    color: white;
}
.c-blue{
    color: blue;
}
.c-orange{
    color: orange;
}
.c-green{
    color: green;
}
.c-red{
    color: red;
}
/* End color*/
/* start position*/
.p-relative{
    position: relative;
}
/* End position*/
/* start font*/
.fw-bold{
    font-weight: bold;
}
.fs-14{
    font-size: 14px;
}
.txt-c{
    text-align: center;
}
@media (max-width: 767px) {
    .txt-c-mobile{
        text-align: center;
}

}
/* End font*/
/* start Border*/
.rad-6{
    border-radius: 6px;
}
.rad-10{
    border-radius: 10px;
}
.b-none{
    border: none;
}
/* End Border*/

/* Start Components*/
.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.w-full {
    width: 100%;
}
.w-fit{
    width: fit-content;
}
.btn-shape{
    padding: 4px 10px;
    border-radius: 6px;
}
/* End Components */
